# git files
/workspace/tec_openhouse_raw/
/workspace/tec_openhouse_proccesed/
/workspace/ros2-gl-viewer/
/workspace/ros2-gl-viewer-old-version/

/workspace/vanttec_sdv_localization_20250623/
/workspace/sdv_localization_obstacles_paths/
/workspace/sdv_localization_obstacles/
/workspace/oct_8_1am/


/workspace/ros2_orza/
/workspace/vanttec_16jun_4/

/workspace/navpilot_ws/build/
/workspace/navpilot_ws/install/
/workspace/navpilot_ws/log/

/workspace/navpilot_ws/src/mapping_modules/LIO-SAM/
/workspace/navpilot_ws/src/sensor_stack/vectornav
/workspace/navpilot_ws/src/sensor_stack/velodyne
/workspace/navpilot_ws/src/localization_modules/lidar_localization_ros2
/workspace/navpilot_ws/src/localization_modules/ndt_omp_ros2

/workspace/vanttec_sdv_localization_20250623/
/workspace/vanttec_16jun_4/

/workspace/navpilot_ws/callejon/
/workspace/navpilot_ws/tinyspline/



workspace/oms/floor_low_density.pcd
workspace/oms/rosbag2_2025_09_01-01_47_35/

workspace/navpilot_ws/rosbag2_2025_09_01-01_47_35/
workspace/frenet/
workspace/Optimal-Trajectory-Generation-in-Frenet-Frame/

/workspace/navpilot_ws/src/mcap_reader/output_callejon_filtered.mcap/




